:root {
  --jobm-white-color: #fff;
  --jobm-black-color: #000;
  --jobm-border-color: #707070; }

#jobs-main {
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 770px; }
  #jobs-main section:not(:last-child) {
    margin-bottom: 100px; }

.post-type-archive-jobs .jobs-title-section .heading-box {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }

.jobs-title-section .description-box {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }

.nice-select.nice-select-js {
  border: none;
  font-size: 22px;
  padding: 0 35px 0 0;
  float: none;
  width: auto;
  display: inline-block;
  margin-top: -7px; }
  .nice-select.nice-select-js .list li {
    font-size: 18px; }
.nice-select.nice-select-transparent {
  background-color: transparent; }

select.nice-select-js {
  display: none; }

.fa-spinner {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 50px;
  height: 50px; }

.loading-results {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto; }
  .loading-results svg {
    font-size: 50px; }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.load-more a {
  position: relative;
  transform: 300ms;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 2px; }
  .load-more a span {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .load-more a svg {
    position: absolute;
    right: -21px; }
  .load-more a.loading {
    padding-right: 30px; }
    .load-more a.loading svg {
      -webkit-transform: transform(translateX(0));
      -moz-transform: transform(translateX(0));
      -ms-transform: transform(translateX(0));
      -o-transform: transform(translateX(0));
      transform: transform(translateX(0));
      right: 0; }

.filter-wrapper {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--jobm-border-color); }

.job-wrapper .job-holder {
  -webkit-box-shadow: 0px 29px 35px #0000000d;
  -moz-box-shadow: 0px 29px 35px #0000000d;
  box-shadow: 0px 29px 35px #0000000d;
  background-color: var(--jobm-white-color); }
  .job-wrapper .job-holder .body {
    padding: 3rem; }
    .job-wrapper .job-holder .body .job-title h3 {
      font-size: 3rem; }
    .job-wrapper .job-holder .body .location svg {
      margin-right: 16px; }
    .job-wrapper .job-holder .body .description {
      margin-top: 1rem; }
    .job-wrapper .job-holder .body .accordion-holder {
      margin-top: 2rem; }
      .job-wrapper .job-holder .body .accordion-holder .accordion-item {
        border: none;
        background-color: transparent; }
        .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button {
          padding: 0;
          border: none;
          box-shadow: none;
          padding: 0;
          border: none;
          box-shadow: none;
          background-color: transparent;
          font-size: 2rem;
          font-weight: bold; }
          .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button:after {
            content: none; }
          .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button svg {
            width: 40px;
            height: 40px; }
          .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button[aria-expanded="false"] .icon-inactive {
            display: inline-block; }
          .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button[aria-expanded="false"] .icon-active {
            display: none; }
          .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button[aria-expanded="true"] .icon-inactive {
            display: none; }
          .job-wrapper .job-holder .body .accordion-holder .accordion-item .accordion-header .accordion-button[aria-expanded="true"] .icon-active {
            display: inline-block; }
        .job-wrapper .job-holder .body .accordion-holder .accordion-item:not(:last-child) {
          margin-bottom: 1rem; }
  .job-wrapper .job-holder .footer {
    border-top: 1px solid lightgray; }
  .job-wrapper .job-holder:not(:last-child) {
    margin-bottom: 60px; }

.jobs-buttons .btn {
  padding: 36px 24px;
  font-weight: bold;
  border-radius: 0; }
  .jobs-buttons .btn svg {
    width: 33px;
    height: 33px; }

#applyModal {
  padding-right: 0 !important;
  z-index: 999999;
  overflow: hidden; }
  #applyModal .modal-dialog {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: var(--jobm-white-color);
    max-width: 775px;
    padding: 0;
    width: 100%;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    #applyModal .modal-dialog .modal-content {
      height: 100%;
      position: static;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 50px; }
      #applyModal .modal-dialog .modal-content .modal-header,
      #applyModal .modal-dialog .modal-content .modal-body {
        padding: 0;
        border: none; }
    #applyModal .modal-dialog .modal-title {
      font-size: 36px;
      line-height: 1; }
    #applyModal .modal-dialog .btn-close {
      position: absolute;
      top: 30px;
      right: 30px; }
      @media (max-width: 991px) {
        #applyModal .modal-dialog .btn-close {
          top: 20px;
          right: 10px; } }
  #applyModal.show .modal-dialog {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.modal-backdrop.modal-backdrop {
  width: 0;
  right: 0;
  left: auto;
  background: #01141cbf;
  opacity: 1;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms; }
  .modal-backdrop.modal-backdrop.show {
    width: 100% !important; }

/*# sourceMappingURL=jobsmanager.css.map */
